    .title {
        position:relative;
        background-color:navy;
        color : white;
        width: 400px;
        height: 200px;
        font:bold;
        text-align: center;
    }

    .subtitle>h1 {
        background-color:brown
        
    }

    .list {
        background-color: gray;
    }
    

